<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST" action="/blog/add"> 
                <div class="form-group">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter the Blog Post Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="contentTextArea">Content</label>
                    <textarea type="text" class="form-control"
                    id="contentTextArea"
                    placeholder="Enter the Content of the Blog Post"
                    name="content" required></textarea>
                </div>

               

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                <a href="/blog" class="btn btn-warning"> 
                    <i class="fas fa-undo"></i> Cancel</a> 

            </form>
        </div>

    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
